body {
  margin: 0;
  padding: 0;
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
  line-height: 1.6;
  font-size: 20px;
  color: rgba(0,0,0,0.85)
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.heatmap-header-name {
  color: darkblue;
}